flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.pidb
*.booproj
*.svclog
*.scc

# Visual Studio build-related files.
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Windows specific
Thumbs.db
Desktop.ini
